.main{
  height: 500px;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(32, 25, 25);
}
.inputs{
  width: 98.2%;
  height: 8vh;
  font-size: large;
  box-shadow: 0px 0px 5px grey;
  border-radius: 10px;
  -moz-appearance: textfield;       
  -webkit-appearance: none;     
  appearance: none; 
  background-color: rgb(46, 32, 32);
  color: white;
}

.grids{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  justify-content:space-around;
}

button{
  width: 60px;                          
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 5px white;
  padding: 10px;
  background-color: rgb(241, 142, 106);
  font-size: large;
  color: white;
}
button:hover{
  background-color: blue;
}